:host{
    width: fit-content;
    height: fit-content;
    display: block;
    // position: absolute;
    // top: 0px;
    // left: 0px;
}

:host * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.cube-container{
    width: fit-content;
    height: fit-content;
    position: relative;

    &.background-color{
        background-color: var(--bw-1-color);
    }

    .box-container{
        border: 2px solid white;
        position: absolute;
        left : '0px';
        top : '0px';
        perspective: var(--block-unit-px);

        .square-container{
            width: 40%;
            height: 40%;
            position: absolute;
            top: 30%;
            left: 30%;
            // border: 1px solid red;

            transform-style: preserve-3d;
            perspective: var(--block-unit-px);
            transform:  rotateX(0deg) 
                        rotateY(0deg) 
                        rotateZ(0deg)
                        translateX( 0px )
                        translateY( 0px )
                        translateZ( 0px ) ;

            .square{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                right: 0px;
                background-color: var(--box-1-color);
                transition: 800ms ease-in-out;

                display: block;
                opacity: .8;
                transform-style: preserve-3d;
                perspective: var(--block-unit-px);

                animation-name: glowAnimation;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                &.face1{
                    transform:  rotateX(0deg) 
                                rotateY(0deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * 0.2 ) ) ;
                }
                &.face2{
                    transform:  rotateX(0deg) 
                                rotateY(90deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * 0.2 ) ) ;
                }
                &.face3{
                    transform:  rotateX(0deg) 
                                rotateY(90deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * -0.2 ) ) ;
                }
                &.face4{
                    transform:  rotateX(0deg) 
                                rotateY(0deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * -0.2 ) ) ;
                }
                &.face5{
                    transform:  rotateX(90deg) 
                                rotateY(0deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * 0.2 ) );
                }
                &.face6{
                    transform:  rotateX(90deg) 
                                rotateY(0deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * -0.2 ) );
                }
            }
        }
    }
}