:host{
    width: fit-content;
    height: fit-content;
    display: block;
    transition: 1s;
    transform-style: preserve-3d;
    // perspective: var(--block-unit-px);
    // position: absolute;
    // top: 0px;
    // left: 0px;
}

:host * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.cube-container{
    width: var(--block-unit-px);
    height: var(--block-unit-px);
    position: relative;
    transform-style: preserve-3d;

    &.rotateCube{
        animation-name : rotateCube; 
        animation-duration : 4s; 
        animation-delay : 0s; 
        animation-iteration-count : infinite;  
        animation-timing-function : linear; 
        animation-direction: normal;
    }

    @keyframes rotateCube {
        0%{  transform: rotateX(0deg) rotateY(0deg) ; }
        100%{  transform: rotateX(360deg) rotateY(360deg) ; }
    }

    .box-container{
        // border: 2px solid white;
        position: absolute;
        left : 0px;
        top : 0px;
        // perspective: var(--block-unit-px);
        transform-style: preserve-3d;

        .square-container{
            width: 60%;
            height: 60%;
            position: absolute;
            top: 20%;
            left: 20%;
            // border: 1px solid red;

            transform-style: preserve-3d;
            // perspective: var(--block-unit-px);
            transform:  rotateX(0deg) 
                        rotateY(0deg) 
                        rotateZ(0deg)
                        translateX( 0px )
                        translateY( 0px )
                        translateZ( calc( var(--block-unit-px) * 0 ) ) ;

            .square{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0px;
                right: 0px;
                background-color: var(--box-1-color);
                transition: 800ms ease-in-out;

                display: block;
                opacity: .8;
                transform-style: preserve-3d;
                transform-origin: 50% 50% 0;
                // perspective: var(--block-unit-px);

                animation-iteration-count: infinite;
                animation-timing-function: linear;

                &.face1{
                    transform:  rotateX(0deg) 
                                rotateY(0deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * 0.3 ) ) ;
                }
                &.face2{
                    transform:  rotateX(0deg) 
                                rotateY(90deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * 0.3 ) ) ;
                }
                &.face3{
                    transform:  rotateX(0deg) 
                                rotateY(90deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * -0.3 ) ) ;
                }
                &.face4{
                    transform:  rotateX(0deg) 
                                rotateY(0deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * -0.3 ) ) ;
                }
                &.face5{
                    transform:  rotateX(90deg) 
                                rotateY(0deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * 0.3 ) );
                }
                &.face6{
                    transform:  rotateX(90deg) 
                                rotateY(0deg) 
                                rotateZ(0deg)
                                translateX( calc( var(--block-unit-px) * 0 ) )
                                translateY( calc( var(--block-unit-px) * 0 ) )
                                translateZ( calc( var(--block-unit-px) * -0.3 ) );
                }
            }
        }
    }
}