.unit-Glow-1{
  box-shadow:0 1px 4px #18ffff, 0 0 40px #18ffff inset;
}
.unit-Glow-2{
  box-shadow:0 1px 4px #64ffda, 0 0 40px #64ffda inset;
}
.unit-Glow-3{
  box-shadow:0 1px 4px #c2185b, 0 0 40px #c2185b inset;
}
.unit-Glow-4{
  box-shadow:0 1px 4px #7b1fa2, 0 0 40px #7b1fa2 inset;
}